body, html {
    font-family: Arial, sans-serif;
    color: darkslategray;
    height: 100%;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2em;
    color: steelblue;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    color: steelblue;
    margin-top: 100px;
    margin-bottom: 20px;
}

.resizable-image {
    max-height: 45px;
    padding: 10px;
}

.loginModal {
    width: 350px;
    max-width: 100%;
    min-height: 300px;
    margin: 0;
    padding: 50px 30px 40px;
    background-color: slategrey
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    display: grid;
    place-items: center;
}